<section class="hero container">
  <div class="row row-cols-1 row-cols-md-12">
    <div class="col text-center col-md-8 text-md-start">
      <h1 class="display-4 fw-normal mb-3">A powerful solution to grow your startup. Fast!</h1>
    </div>
    <div class="col text-center col-md-5 text-md-start">
      <p class="text-secondary mb-4">Organise, collaborate, and track progress seamlessly with our
        one-stop-shop startup growth tool.
      </p>
    </div>
    <div class="col">
      <div class="d-grid gap-3 d-md-flex">
        <button class="btn btn-primary">Get started</button>

        <button class="btn btn-light">
          <i class="bi bi-calendar-plus me-1"></i>
          Book a demo
        </button>
      </div>
    </div>

    <div class="col mt-5 d-md-none">
      <div>
        <%= image_tag "hero_image_mobile.png", alt: "Hero", class: "w-100 h-auto" %>
      </div>
    </div>
  </div>
</section>
