<section class="section container">
  <h2 class="text-center mb-3">Pricing</h2>
  <p class="text-center text-secondary mb-4">
    Start free and scale while you grow. No hidden fees. Unlimited users for
    free.
  </p>

  <div class="row">
    <div class="col col-md-10 offset-md-1 col-xl-8 offset-xl-2">
      <div class="row row-cols-1 row-cols-md-2 align-items-md-center">
        <div class="col">
          <div class="bg-light rounded py-4 px-3 py-md-5 px-md-4 p-lg-5">
            <h3>Simple</h3>
            <p class="fw-light">
              Keep track of your contacts, gain valuable insights, analyse live
              data and performance metrics.
            </p>

            <div class="d-flex align-items-baseline gap-2">
              <h3 class="d-inline-block">Free</h3>
              <span class="small text-body-secondary">* No credit card required</span>
            </div>

            <hr class="border-secondary-subtle">

            <ul class="list-unstyled d-flex flex-column gap-2 mb-4 fw-light">
              <li>
                <i class="bi bi-check2 me-1"></i>
                Real-time monitoring
              </li>
              <li>
                <i class="bi bi-check2 me-1"></i>
                Track key performance indicators
              </li>
              <li>
                <i class="bi bi-check2 me-1"></i>
                Schedule appointments
              </li>
              <li>
                <i class="bi bi-check2 me-1"></i>
                Organize, delegate and keep track of tasks
              </li>
            </ul>

            <div class="d-grid">
              <button class="btn btn-primary">Get started</button>
            </div>
          </div>
        </div>

        <div class="col">
          <div
            class="
              bg-black text-white rounded py-4 px-3 py-md-5 px-md-4 p-lg-5
            "
            data-bs-theme="dark"
          >
            <h3>Premium</h3>
            <p class="fw-light">
              Keep track of your contacts, gain valuable insights, analyse live
              data and performance metrics.
            </p>

            <div class="d-flex align-items-baseline gap-1">
              <h3 class="d-inline-block">$49</h3>
              <span class="small">/month</span>
            </div>

            <hr>

            <p class="fw-light">Everything from the free plan plus:</p>
            <ul class="list-unstyled d-flex flex-column gap-2 mb-4 fw-light">
              <li>
                <i class="bi bi-check2 me-1"></i>
                Data-driven decisions
              </li>
              <li>
                <i class="bi bi-check2 me-1"></i>
                Data visualisation
              </li>
              <li>
                <i class="bi bi-check2 me-1"></i>
                Schedule appointments
              </li>
              <li>
                <i class="bi bi-check2 me-1"></i>
                Store and organise contact information
              </li>
              <li>
                <i class="bi bi-check2 me-1"></i>
                Teal-time communication tools for messaging and video
                conferencing
              </li>
            </ul>

            <div class="d-grid">
              <button class="btn btn-primary">Get started</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="small text-center mt-3">All prices are in USD and charged per month with applicable taxes added at
    checkout.</p>

  <div class="d-flex justify-content-center">
    <button class="btn btn-outline-dark btn-sm">
      View Features
      <i class="bi bi-arrow-down ms-1"></i></button>
  </div>
</section>
