<section class="section text-white">
  <div class="row">
    <div class="col col-md-7">
      <h2 class="mb-4">
        Don't just take our word for it, see the success stories from businesses
        just like yours.
      </h2>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 gy-3">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <figure>
            <blockquote class="blockquote">
              <p>
                “Our business has seen a significant increase in productivity
                since we started using the Growth app.”
              </p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Katherine Smith
              <br />
              <cite title="Capodopera">Capodopera</cite>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <figure>
            <blockquote class="blockquote">
              <p>
                “As a small business owner, it's important to have a tool that can
                help me keep track of everything. The Growth app has been a
                lifesaver for me, allowing me to manage my contacts, schedule
                appointments, and track progress all in one place..”
              </p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Jonathan Lee
              <br />
              <cite title="Red Bolt">Red Bolt</cite>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <figure>
            <blockquote class="blockquote">
              <p>
                “The dashboards and reporting feature has provided valuable
                insights into our performance and helped us make data-driven
                decisions. It's a game changer for us.”
              </p>
            </blockquote>
            <figcaption class="blockquote-footer">
              David Wilson
              <br />
              <cite title="Slide">Slide</cite>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
