<section class="section text-white">
  <div class="row row-cols-1 row-cols-md-12">
    <div class="col col-md-6 offset-md-3">
      <h2 class="text-center mb-4">See how it works and get started in less than 2 minutes</h2>
    </div>

    <div class="col col-md-8 offset-md-2">
      <%= image_tag "video_preview.png", alt: "Video Preview", class: "img-fluid" %>
    </div>

    <div class="col">
      <div class="d-grid d-md-flex justify-content-md-center mt-4">
        <button class="btn btn-primary">Get started</button>
      </div>
    </div>
  </div>
</section>
