<main>
  <%= render "hero" %>

  <div class="bg-black">
    <div class="container">
      <%= render "video_section" %>

      <hr class="border-white">

      <%= render "testimonials_section" %>
    </div>
  </div>

  <%= render "pricing_section" %>
</main>
